* {
  margin: 0;
  padding: 0; }

body {
  max-width: 1380px;
  background-color: #fff;
  z-index: -100; }

.header, .header-wrap {
  z-index: -50;
  background-image: url(../img/m-h-day.jpg);
  background-size: cover;
  background-position: center;
  height: 656px;
  width: 1380px;
  color: #000;
  border-bottom-right-radius: 36em 17em; }
  .header-wrap {
    padding-left: 140px;
    width: 1225px; }

.landing-logo {
  display: inline-block;
  font-family: 'Hind', sans-serif;
  font-size: 22px;
  font-weight: 600;
  padding-top: 16px; }

.landing-logo img {
  vertical-align: middle; }

.landing-logo p {
  display: inline;
  line-height: 0.3;
  padding-left: 5px; }

.landing-logo span {
  display: block;
  font-family: 'Hind', sans-serif;
  font-size: 10px;
  padding-left: 70px;
  margin-top: -2px; }

.header_heading {
  z-index: 100;
  position: relative;
  font-size: 68px;
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
  width: 483px;
  line-height: 1;
  padding-top: 24px;
  letter-spacing: 0; }

.header_heading::after {
  z-index: -1;
  content: "";
  width: 280px;
  height: 19px;
  background-color: #0ca1c8;
  background-size: cover;
  top: -60px;
  right: 1px;
  position: relative;
  display: inline-block; }

.header_text {
  font-family: 'Source Sans Pro', sans-serif;
  width: 600px;
  line-height: 1.3;
  margin-bottom: 62px; }

.header_button {
  margin-right: 92px;
  width: 131px;
  height: 46px;
  margin-top: -43px;
  background-color: #699a00;
  color: #fff;
  font-size: 15px;
  border-width: 0;
  border-radius: 5px; }

.section_text {
  padding-top: 31px;
  padding-bottom: 23px;
  font-family: 'Hind', sans-serif;
  font-size: 45px;
  font-weight: 550;
  display: block;
  color: #000;
  width: 100%;
  text-align: center;
  letter-spacing: -2px; }

.section_text::after {
  z-index: -1;
  content: "";
  width: 188px;
  height: 19px;
  background-color: #0ca1c8;
  background-size: cover;
  top: 5px;
  right: 205px;
  position: relative;
  display: inline-block; }

.section_card_wrap {
  display: inline-block;
  margin-left: auto;
  margin-right: auto; }

.section_card {
  border-radius: 5px;
  display: inline-block;
  width: 398px;
  height: 455px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 13px;
  background-color: #1b1e2a;
  color: #fff; }

.section_card:first-child {
  margin-left: 90px; }

.section_card_img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 89%;
  height: 50%;
  display: block;
  border-radius: 10px; }

.section_card_heading {
  z-index: 30;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-weight: 600;
  padding-top: 20px;
  padding-left: 91px;
  width: 206px;
  text-align: center;
  position: relative; }

.section_card_underline {
  z-index: -1;
  content: "";
  width: 124px;
  height: 19px;
  background-color: #0ca1c8;
  background-size: cover;
  top: -28px;
  right: 0;
  position: relative;
  display: inline-block; }

.section_card:first-child .section_card_underline {
  width: 190px; }

.section_card:nth-child(2) .section_card_underline {
  width: 162px; }

.section_card_text {
  font-family: 'Hind', sans-serif;
  padding-top: 12px;
  padding-left: 12px;
  text-align: center;
  color: #bcc1cf;
  letter-spacing: -2px; }

.section_banner {
  position: relative;
  left: 263px;
  top: 79px;
  width: 875px;
  height: 133px;
  border-width: 0;
  border-radius: 5px;
  background: #689900;
  background: -moz-linear-gradient(45deg, #689900 0%, #285adc 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #689900), color-stop(100%, #285adc));
  background: -webkit-linear-gradient(45deg, #689900 0%, #285adc 100%);
  background: -o-linear-gradient(45deg, #689900 0%, #285adc 100%);
  background: -ms-linear-gradient(45deg, #689900 0%, #285adc 100%);
  background: linear-gradient(45deg, #689900 0%, #285adc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#689900', endColorstr='#285adc', GradientType=1 ); }

.section_banner_text_wrap {
  font-family: 'Source Sans Pro', sans-serif;
  padding-left: 95px;
  padding-top: 11px; }

.section_banner_heading {
  z-index: 100;
  font-size: 28px;
  font-weight: 650;
  padding-top: 12px;
  position: relative; }

.section_banner_heading::after {
  z-index: -1;
  content: "";
  width: 61px;
  height: 16px;
  background-color: #0ca1c8;
  background-size: cover;
  top: 5px;
  right: 275px;
  position: relative;
  display: inline-block; }

.section_banner_text {
  color: #c1c0a2;
  padding-top: 14px;
  font-size: 11px; }

.section_banner_button {
  float: right;
  margin-right: 92px;
  width: 131px;
  height: 46px;
  margin-top: -43px;
  background-color: #699a00;
  color: #fff;
  font-size: 15px;
  border-width: 0;
  border-radius: 5px; }

.footer {
  background-color: #1b1e2a;
  color: #c1c4cf;
  height: 300px;
  margin-top: 7px; }

.footer_logo {
  padding-left: 140px;
  padding-top: 134px; }

.footer_text {
  bottom: 28px;
  display: inline-block;
  position: relative;
  width: 292px;
  padding-left: 268px;
  margin-top: -61px;
  font-size: 14px;
  font-family: 'Hind', sans-serif;
  line-height: 1.3; }

.footer-cr {
  display: inline-block;
  height: 58px;
  width: 211px;
  float: right;
  padding-top: 143px;
  padding-right: 105px;
  font-family: 'Hind', sans-serif;
  font-size: 15px; }
